/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
    color: #514B64;
    min-height: 100vh;
}

code {
    background: #fff;
    padding: 0.2rem;
    border-radius: 0.2rem;
    margin: 0 0.3rem;

}
.nav-link:hover{
    font-size: 1.5rem;
    color: #000000;
    border-radius:1rem;
    border: 1px solid grey;
    background: silver;
}
.navbar{
    padding-top: 0;
    padding-bottom:0;
}
